@charset "UTF-8";
.fs-l-header {
  position: inherit;
  top: auto;
  padding: 0;
  border: 0; }

.fs-c-breadcrumb {
  width: 1180px;
  margin: -10px auto 15px;
  font-size: .7rem; }

.fs-c-breadcrumb ol li .fs-c-breadcrumb__listItem {
  font-size: .875rem;
  font-weight: 400;
  margin-right: 20px;
  position: relative;
  display: inline; }

.fs-c-breadcrumb ol li .fs-c-breadcrumb__listItem:after {
  display: block;
  content: ">";
  position: absolute;
  right: -17px;
  top: 50%;
  -webkit-transform: translateY(-56%);
  transform: translateY(-56%); }

.fs-c-breadcrumb ol li .fs-c-breadcrumb__listItem:last-child {
  font-weight: 700; }

.fs-c-breadcrumb ol li .fs-c-breadcrumb__listItem:last-child:after {
  display: none; }

.fs-c-breadcrumb__list--subgroup {
  display: none; }

.fs-l-main {
  margin: 0 auto;
  padding: 35px 0 0;
  max-width: none; }

.fs-l-pageMain {
  max-width: none; }

.fs-c-heading--page {
  display: none; }

#contents_white_sub {
  width: 700px; }

#original_comment3 * {
  box-sizing: content-box; }

.fs-c-sortItems {
  margin: 0;
  background: #f3f3f1;
  padding: 10px 3px; }

#fs_ProductCategory .fs-c-sortItems__label, #fs_ProductSearch .fs-c-sortItems__label {
  font-size: 13px;
  color: #666;
  border: 0; }

#fs_ProductCategory .fs-c-sortItems, #fs_ProductSearch .fs-c-sortItems {
  margin: 0;
  background: #f3f3f1;
  padding: 10px 3px; }

#fs_ProductCategory .fs-c-productList__controller, #fs_ProductSearch .fs-c-productList__controller {
  display: block;
  width: 700px; }

#fs_ProductCategory span.fs-c-sortItems__label, #fs_ProductSearch span.fs-c-sortItems__label {
  font-size: 13px;
  color: #666;
  border: 0; }

#fs_ProductCategory li.fs-c-sortItems__list__item, #fs_ProductSearch li.fs-c-sortItems__list__item {
  color: #333;
  border: 1px solid #ddd;
  background: #fff;
  margin: 0 5px 0 0; }

#fs_ProductCategory .fs-c-sortItems__list__item.is-active, #fs_ProductSearch .fs-c-sortItems__list__item.is-active {
  background: #595959;
  color: #fff; }

#fs_ProductCategory .fs-c-sortItems__list__item__label, #fs_ProductSearch .fs-c-sortItems__list__item__label {
  padding: 4px 17px; }

#fs_ProductCategory ul.fs-c-sortItems__list, #fs_ProductSearch ul.fs-c-sortItems__list {
  font-size: 13px; }

#fs_ProductCategory .fs-c-productList__list, #fs_ProductSearch .fs-c-productList__list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

#fs_ProductCategory article.fs-c-productList__list__item.fs-c-productListItem, #fs_ProductSearch article.fs-c-productList__list__item.fs-c-productListItem {
  width: 25%;
  border: none; }

#fs_ProductCategory img.fs-c-productListItem__image__image.fs-c-productImage__image, #fs_ProductSearch img.fs-c-productListItem__image__image.fs-c-productImage__image {
  border: 1px solid #ededed; }

#fs_ProductCategory .fs-c-productListItem__viewMoreImageButton.fs-c-buttonContainer, #fs_ProductSearch .fs-c-productListItem__viewMoreImageButton.fs-c-buttonContainer {
  display: none; }

#fs_ProductCategory .fs-c-productListItem__productName, #fs_ProductSearch .fs-c-productListItem__productName {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  line-height: 1.4;
  margin: 8px 0 0; }

#fs_ProductCategory .fs-c-productListItem__prices.fs-c-productPrices, #fs_ProductSearch .fs-c-productListItem__prices.fs-c-productPrices {
  display: table-cell;
  width: 141px;
  vertical-align: middle; }

#fs_ProductCategory .fs-c-productPrice__main__label, #fs_ProductSearch .fs-c-productPrice__main__label {
  display: none; }

#fs_ProductCategory button.fs-c-button--addToCart--list.fs-c-button--plain, #fs_ProductSearch button.fs-c-button--addToCart--list.fs-c-button--plain {
  font-size: 10px;
  display: none; }

#fs_ProductCategory .fs-c-productPrice__main__price {
  font-size: 13px;
  color: #991f1f; }

#fs_ProductCategory span.fs-c-productPrice__addon {
  font-size: 13px;
  color: #991f1f; }

#fs_ProductCategory .fs-c-salesPeriod__date {
  font-size: 11px; }

#fs_ProductCategory .fs-c-productListItem__salesPeriodNotice.fs-c-productListItem__notice {
  font-size: 11px;
  background: #b2b2b2;
  border-radius: 3px;
  padding: 6px 0; }

#fs_ProductCategory .fs-c-productListItem__control.fs-c-buttonContainer {
  display: table-cell;
  vertical-align: middle; }

#fs_ProductCategory a.fs-c-button--viewProductDetail.fs-c-button--plain {
  display: none; }

#fs_ProductCategory span.fs-c-button__label {
  display: none; }

#fs_ProductCategory .fs-c-button--particular.fs-c-button--addToWishList--icon:before, #fs_ProductDetails .fs-c-button--particular.fs-c-button--addToWishList--icon:before, #fs_ProductSearch .fs-c-button--particular.fs-c-button--addToWishList--icon:before {
  font-size: 18px;
  color: #b2b2b2; }

#fs_ProductDetails .fs-c-productImageModal {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }

#fs_ProductDetails .product-name-dokuji3 {
  font-size: 16px;
  margin: 0 0 20px;
  font-weight: 700; }

#fs_ProductDetails #original_comment2 * {
  box-sizing: content-box; }

#fs_ProductDetails .fs-c-productMainImage__image {
  width: 400px;
  border: 1px solid #eee; }

#fs_ProductDetails .fs-c-productMainImage__expandButton.fs-c-buttonContainer {
  display: none; }

#fs_ProductDetails .fs-c-productThumbnail {
  width: 400px; }

#fs_ProductDetails .fs-c-productThumbnail__image {
  flex-basis: auto;
  width: 70px; }

#fs_ProductDetails .fs-c-productThumbnail__image:nth-child(1) {
  margin: 4px 6px 4px 0; }

#fs_ProductDetails .fs-c-productThumbnail__image:nth-child(5n) {
  margin: 4px 0 4px 6px; }

#fs_ProductDetails .fs-c-productThumbnail__image:nth-child(5n+1) {
  margin: 4px 6px 4px 0; }

#fs_ProductDetails h1.fs-c-productNameHeading.fs-c-heading {
  font-size: 18px;
  line-height: 1.4; }

#fs_ProductDetails .fs-c-productNumber {
  font-size: 13px; }

#fs_ProductDetails .fs-c-productNumber__number {
  font-weight: 400; }

#fs_ProductDetails #original_comment1 {
  font-size: 14px;
  border-bottom: 1px solid #eee;
  padding: 0 0 20px;
  margin: 0 0 20px; }

#fs_ProductDetails .fs-c-productPrice__main__price.fs-c-price {
  padding: 0 7px; }

#fs_ProductDetails .fs-c-productPrice__main__price .fs-c-price__currencyMark {
  color: #991f1f;
  font-size: 16px; }

#fs_ProductDetails .fs-c-productPrice__main__price .fs-c-price__value {
  color: #991f1f;
  font-size: 16px; }

#fs_ProductDetails .fs-c-productPrice--listed .fs-c-productPrice__addon {
  font-size: 12px; }

#fs_ProductDetails .fs-c-productPrice--selling .fs-c-productPrice__addon {
  color: #333;
  font-size: 12px; }

#fs_ProductDetails .fs-c-productPrice--selling .fs-c-productPrice__main__label {
  background: #73890d;
  color: #fff;
  padding: 2px 10px;
  font-size: 15px; }

#fs_ProductDetails span .fs-c-productPrice__addon__price .fs-c-price__currencyMark {
  color: #333;
  font-size: 12px; }

#fs_ProductDetails .fs-c-productQuantityAndWishlist {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 !important; }

#fs_ProductDetails .fs-c-productQuantityAndWishlist__wishlist {
  -webkit-box-ordinal-group: 2;
  order: 2;
  width: 100%;
  display: block; }

#fs_ProductDetails .fs-c-productQuantityAndWishlist__wishlist button.fs-c-button--addToWishList--detail.fs-c-button--particular {
  box-shadow: none;
  width: 270px;
  padding: 0;
  position: relative; }

#fs_ProductDetails .fs-c-productQuantityAndWishlist__wishlist button.fs-c-button--removeFromWishList--detail {
  box-shadow: none;
  width: 270px;
  padding: 0;
  position: relative; }

#fs_ProductDetails .fs-c-productQuantityAndWishlist__wishlist button.fs-c-button--removeFromWishList--detail .fs-c-button__label {
  height: 35px;
  font-size: 15px;
  display: block;
  padding: 10px 0 0 80px; }

#fs_ProductDetails .fs-c-productQuantityAndWishlist__wishlist button.fs-c-button--addToCart--detail.fs-c-button--primary {
  background: #991f1f;
  border: 0;
  box-shadow: none;
  border-radius: 5px;
  padding: 17px 0 !important; }

#fs_ProductDetails .fs-c-productQuantityAndWishlist__wishlist .fs-c-button__label {
  height: 35px;
  font-size: 15px;
  display: block;
  padding: 10px 0 0 90px; }

#fs_ProductDetails .fs-c-productQuantityAndWishlist__wishlist .fs-c-button--particular.fs-c-button--addToWishList--detail:after {
  position: absolute;
  left: 50px;
  top: 5px;
  color: #bbb;
  font-size: 27px; }

#fs_ProductDetails .fs-c-productQuantityAndWishlist__wishlist .fs-c-button--particular.fs-c-button--removeFromWishList--detail:after {
  position: absolute;
  left: 40px;
  top: 5px;
  font-size: 27px; }

#fs_ProductDetails span.fs-c-productQuantityAndWishlist__quantity.fs-c-quantity .fs-system-assistTarget {
  -webkit-box-ordinal-group: 1;
  order: 1;
  display: block;
  width: 100%;
  position: relative;
  left: 50px; }

#fs_ProductDetails span.fs-c-productQuantityAndWishlist__quantity.fs-c-quantity .fs-system-assistTarget:before {
  content: "個数";
  font-size: 14px;
  position: absolute;
  top: 2px;
  left: -50px; }

#fs_ProductDetails .fs-c-returnedSpecialContract a {
  font-size: 13px;
  text-decoration: underline; }

#fs_ProductDetails .fs-c-inquiryAboutProduct {
  margin: 0;
  padding: 8px 0 0; }

#fs_ProductDetails .fs-c-inquiryAboutProduct .fs-c-button--plain {
  color: #333; }

#fs_ProductDetails .fs-c-inquiryAboutProduct .fs-c-button__label {
  font-size: 13px;
  text-decoration: underline; }

#fs_ProductDetails .fs-c-productReview-outer {
  margin: 0 0 42px; }

#fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview {
  width: 700px; }

#fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview .fs-c-reviewer__name {
  font-size: 1.5em; }

#fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview .fs-c-reviewer__profile {
  margin-left: 1em;
  font-size: 1em; }

#fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview .fs-c-reviewInfo__date {
  font-size: 1em; }

#fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview .fs-c-rating {
  font-size: 1.5em;
  line-height: 200%; }

#fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview .fs-c-aggregateRating__rating:before {
  font-size: 16px; }

#fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview .fs-c-aggregateRating__count {
  display: none; }

#fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview li.fs-c-reviewList__item {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee; }

#fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview li.fs-c-reviewList__item:first-child {
  border-top: 1px solid #eee; }

#fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview li.fs-c-reviewList__item .fs-c-reviewList__item__info {
  padding: 10px 15px 0; }

#fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview li.fs-c-reviewList__item .fs-c-reviewList__item__info .fs-c-reviewInfo__reviewer {
  font-size: 12px;
  color: #666; }

#fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview li.fs-c-reviewList__item .fs-c-reviewList__item__info .fs-c-reviewer__name a {
  font-size: 12px;
  color: #666; }

#fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview li.fs-c-reviewList__item .fs-c-reviewList__item__info .fs-c-reviewInfo__date {
  font-size: 12px;
  color: #666; }

#fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview li.fs-c-reviewList__item span.fs-c-reviewer__name__nickname {
  font-size: 12px;
  color: #666; }

#fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview li.fs-c-reviewList__item .fs-c-reviewList__item__body {
  font-size: 14px;
  line-height: 1.57;
  border: none; }

#fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview a.fs-c-button--viewAllReviews.fs-c-button--plain {
  text-align: right;
  width: 700px;
  text-decoration: underline; }

#fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview a.fs-c-button--viewAllReviews.fs-c-button--plain:before {
  content: none; }

#fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview a.fs-c-button--viewAllReviews.fs-c-button--plain:after {
  content: "\03e \03e";
  font-size: 14px; }

#fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview a.fs-c-button--addReview--detail.fs-c-button--plain:before {
  content: "この商品について、お客さまのご意見・ご感想をお聞かせください。";
  font-size: 14px; }

#fs_ProductDetails .fs-c-productReview-outer .fs-c-buttonContainer--addReview--detail .fs-c-button__label {
  padding: 0 0 0 10px;
  font-size: 14px;
  text-decoration: underline; }

#fs_ProductDetails .fs-c-productReview-outer .fs-c-buttonContainer--addReview--detail .fs-c-button__label:before {
  content: url(https://kazurasei.itembox.design/item/images/common/icon-review.png); }

#fs_ProductDetails .review_title {
  font-size: 18px;
  font-weight: 700;
  color: #333;
  border-bottom: 1px solid #333;
  padding: 0 0 10px;
  margin: 0 0 20px;
  width: 700px; }

#fs_ProductDetails .review_txt-main {
  width: 700px;
  font-size: 14px;
  padding: 0 0 16px;
  line-height: 1.57; }

#fs_ProductDetails #original_comment2 {
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 50px; }

#fs_ProductDetails #original_comment2 .original_comment2_title {
  font-size: 18px;
  font-weight: 700;
  color: #333;
  border-bottom: 1px solid #333;
  padding: 0 0 10px;
  margin: 0 0 20px; }

#fs_ProductDetails .fs-c-featuredProduct {
  font-size: 14px;
  line-height: 1.42;
  margin: 0 0 50px; }

#fs_ProductDetails .fs-c-featuredProduct .fs-c-featuredProduct__title {
  font-size: 18px;
  font-weight: 700;
  color: #333;
  border-bottom: 1px solid #333;
  padding: 0 0 10px;
  margin: 0 0 20px; }

#fs_ProductDetails .fs-c-featuredProduct .fs-c-productListCarousel__list {
  width: 636px; }

#fs_ProductDetails .fs-c-featuredProduct .fs-c-productListCarousel__list .slick-slide {
  width: 150px; }

#fs_ProductDetails .fs-c-featuredProduct .fs-c-productListCarousel__list__item {
  flex-basis: 150px;
  max-width: 150px;
  min-width: 150px;
  margin: 0;
  padding: 0 6px; }

#fs_ProductDetails .fs-c-featuredProduct .fs-c-productListItem__image__image {
  border: 1px solid #eee; }

#fs_ProductDetails .fs-c-featuredProduct .fs-c-productPrice__main__label {
  display: none; }

#fs_ProductDetails .fs-c-featuredProduct .fs-c-productListItem__control.fs-c-buttonContainer {
  display: none; }

#fs_ProductDetails .fs-c-featuredProduct .fs-c-button--carousel--prev:before {
  font-size: 60px;
  color: #a5a5a5 !important; }

#fs_ProductDetails .fs-c-featuredProduct .fs-c-button--carousel--next:before {
  font-size: 60px;
  color: #a5a5a5 !important; }

#fs_ProductDetails .fs-c-featuredProduct .fs-c-productPrice__main__price .fs-c-price__currencyMark {
  color: #991f1f;
  font-size: 13px; }

#fs_ProductDetails .fs-c-featuredProduct .fs-c-productPrice__main__price .fs-c-price__value {
  color: #991f1f;
  font-size: 13px; }

#fs_ProductDetails .fs-c-featuredProduct .fs-c-productPrice--selling .fs-c-productPrice__addon {
  color: #991f1f;
  font-size: 13px; }

.fs-c-productReview__aggregateRating.fs-c-aggregateRating {
  padding: 0 0 20px; }

#fs_ProductSearch span.fs-c-sortItems__label {
  font-size: 14px; }

#fs_ProductSearch span.fs-c-sortItems__label {
  font-size: 14px; }

#fs_ProductSearch li.fs-c-sortItems__list, #fs_ProductSearch ul.fs-c-sortItems__list {
  font-size: 14px; }

#fs_ProductSearch .fs-c-productListItem__productName {
  font-size: 14px; }

#fs_ProductSearch .fs-c-productPrice__main__price {
  color: #d11; }

#fs_ProductSearch span.fs-c-productPrice__addon {
  font-size: 12px;
  color: #d11; }

#fs_ProductSearch .fs-c-salesPeriod__date {
  font-size: 11px; }

#fs_ProductSearch .fs-c-productListItem__salesPeriodNotice.fs-c-productListItem__notice {
  font-size: 11px; }

#fs_ProductSearch button.fs-c-button--addToCart--list.fs-c-button--plain {
  font-size: 10px; }

#fs_ProductSearch .fs-c-button--particular.fs-c-button--addToWishList--icon:before {
  font-size: 18px; }

#fs_CustomPage .fs-l-pageMain {
  margin-left: 0; }

#fs_Login h2.fs-c-registeredUsers__title.fs-c-subSection__title {
  font-size: 20px; }

#fs_Login h2.fs-c-newUsers__title.fs-c-subSection__title {
  font-size: 20px; }

#fs_Login section.fs-c-newUsers.fs-c-subSection {
  margin-left: 40px;
  width: 350px; }

#fs_Login section.fs-c-newUsers.fs-c-subSection__title {
  font-size: 20px;
  margin: 0 0 20px; }

#fs_Login section.fs-c-newUsers.fs-c-subSection__message {
  margin: 0 0 10px;
  font-size: 14px; }

#fs_Login a.fs-c-button--memberRegister.fs-c-button--primary {
  color: #fff; }

#fs_ShoppingCartLogin .fs-l-pageMain {
  width: 1180px;
  margin: 0 auto; }

#fs_CustomerDetails .fs-l-pageMain {
  width: 1180px;
  margin: 0 auto; }

.fs-p-footerPageTop__link:before {
  font-size: 1.6rem; }

.fs-p-footerCopyright__text {
  font-size: .8rem; }

.fs-c-cartDiscountInfo__body {
  font-size: 1.2rem; }

#fs_ShoppingCart span.fs-c-productPrice__addon {
  font-size: 12px; }

.fs-c-button--primary {
  padding: 1em 0; }

.fs-c-wishlistProduct {
  margin: 7vh auto; }

.fs-c-button__label {
  font-size: 85%; }

.fs-c-button--plain .fs-c-button__label {
  font-size: 120%; }

.fs-p-announcement__title {
  margin-bottom: 20px; }

#fs_MyAddressBook a.fs-c-button--change, #fs_MyAddressBook a.fs-c-button--secondary, #fs_ReviewLogin .fs-c-button--primary, #fs_ReviewLogin .fs-c-button--secondary, #fs_ShoppingCart .fs-c-button--primary span, #fs_WishListLogin .fs-c-button--primary {
  color: #fff;
  background: #444;
  border: 1px solid #444; }

#fs_MyAddressBook .fs-c-listTable td, #fs_MyAddressBook .fs-c-listTable th, .fs-c-cartTable td, .fs-c-cartTable th {
  vertical-align: middle; }

#fs_MyPageTop .fs-c-productName__name, #fs_MyWishList .fs-c-productName__name, #fs_ProductDetails .fs-c-productName__name, .fs-c-wishlistProduct .fs-c-productName__name {
  font-size: 14px; }

#fs_MyPageTop, #fs_MyWishList, .fs-c-wishlistProduct {
  display: none; }

#fs_MyPageTop .fs-c-productPrice__main__label, #fs_MyWishList .fs-c-productPrice__main__label, .fs-c-wishlistProduct .fs-c-productPrice__main__label {
  display: none; }

#fs_MyPageTop .fs-c-button--particular.fs-c-button--removeFromWishList--icon::before:before, #fs_MyWishList .fs-c-button--particular.fs-c-button--removeFromWishList--icon::before:before, #fs_ProductCategory .fs-c-button--particular.fs-c-button--removeFromWishList--icon::before:before, #fs_ProductDetails .fs-c-button--particular.fs-c-button--removeFromWishList--icon::before:before, #fs_ProductSearch .fs-c-button--particular.fs-c-button--removeFromWishList--icon::before:before, .fs-c-wishlistProduct .fs-c-button--particular.fs-c-button--removeFromWishList--icon::before:before {
  font-size: 18px; }

#fs_MyPageTop .fs-l-account {
  -webkit-box-pack: justify;
  justify-content: space-between; }

#fs_MyPageTop .fs-c-accountService {
  flex-basis: 100%; }

#fs_MyPageTop .fs-c-accountService__page {
  flex-basis: 18em; }

#fs_MyPageTop .fs-c-productListCarousel, #fs_ProductDetails .fs-c-productListCarousel, #fs_ShoppingCart .fs-c-wishlistProduct .fs-c-productListCarousel {
  margin: 3vh auto 5vh; }

#fs_MyPageTop .fs-c-productPrice__main__label {
  display: none; }

#fs_Checkout .fs-c-productPrice__addon, #fs_Checkout .fs-c-productPrice__main__price, #fs_MyPageTop .fs-c-productPrice__addon, #fs_MyPageTop .fs-c-productPrice__main__price, #fs_MyWishList .fs-c-productPrice__addon, #fs_MyWishList .fs-c-productPrice__main__price, #fs_ShoppingCart .fs-c-productPrice__addon, #fs_ShoppingCart .fs-c-productPrice__main__price {
  font-size: 14px;
  color: #991f1f; }

#fs_ShoppingCart .fs-c-wishlistProduct .fs-c-productPrice__main__price {
  font-size: 14px;
  color: #991f1f; }

#fs_MyPageTop .fs-c-accountService__logout {
  font-size: 1.2rem;
  box-shadow: 0 0 2px #b2b2b2;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  color: #3c3c3c;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  width: 40%;
  margin: -50px auto 100px;
  padding: 10px 0; }

#fs_MyWishList .fs-c-rating {
  text-align: center; }

#fs_MyWishList .fs-c-aggregateRating__rating::before, #fs_MyWishList .fs-c-rating__value, #fs_MyWishList .fs-c-reviewStars {
  font-size: 16px; }

#fs_MyAccountSettings .fs-c-inputTable td, #fs_MyAccountSettings .fs-c-inputTable th {
  font-size: 125%; }

#fs_MyAccountSettings .fs-c-inputTable td {
  padding-top: .5em; }

#fs_MyAccountSettings .fs-c-button--change {
  color: #fff; }

#fs_ReviewLogin .fs-c-registeredUsers, #fs_WishListLogin .fs-c-registeredUsers {
  flex-basis: 60%; }

.fs-body-wishlist-login .fs-c-newUsers, .fs_ReviewLogin .fs-c-newUsers {
  margin-left: 5em; }

.fs-c-subSection__title {
  font-size: 1.5em; }

.fs-body-my-orders .fs-c-history, .fs-body-my-storeOrders .fs-c-history {
  display: block; }

.fs-body-my-orders .fs-c-history__listContainer, .fs-body-my-storeOrders .fs-c-history__listContainer {
  margin-top: 50px; }

.fs-c-productPrice__addon:not(.fs-c-productPrice__addon--listed) {
  font-size: .75rem; }

.fs-c-productNotice--outOfStock, .fs-c-productStock {
  padding: .5em;
  text-align: center;
  font-size: .75rem;
  color: #fff;
  background-color: #b2b2b2;
  border: none;
  border-radius: 5px; }

.fs-c-button--viewProductDetail {
  display: none; }

.fs-c-productNotice--outOfStock {
  padding: 1em;
  font-size: 14px; }

.fs-pt-carousel__slide__caption {
  display: none; }

@media screen and (max-width: 800px) {
  .fs-l-header {
    padding: 0;
    position: inherit;
    border: 0;
    height: auto; }
  .fs-c-breadcrumb {
    display: none; }
  .fs-l-main {
    margin: 0 auto 10vw;
    padding: 0;
    max-width: none; }
  body:not(#fs_CustomPage) .fs-l-pageMain {
    max-width: none;
    padding: 2%; }
  .fs-c-heading--page {
    display: none; }
  .fs-l-footer {
    margin-top: 0; }
  #fs_ProductCategory .fs-c-productList__controller {
    width: 100%; }
  #fs_ProductCategory .fs-c-sortItems {
    margin: 0 auto; }
  #fs_ProductCategory span.fs-c-sortItems {
    font-size: 4vw; }
  #fs_ProductCategory ul.fs-c-sortItems__list {
    font-size: 4vw; }
  #fs_ProductCategory .products_list_title {
    width: 100%; }
  #fs_ProductCategory .products_list_title p .categoryread {
    font-size: 4vw;
    margin: 20px 3vw 0; }
  #fs_ProductCategory .products_list_title .categoryname {
    display: table; }
  #fs_ProductCategory .products_list_title .categoryname .img {
    width: 35%;
    display: table-cell; }
  #fs_ProductCategory .products_list_title .categoryname .img img {
    width: 100%; }
  #fs_ProductCategory .products_list_title .categoryname h2 {
    font-size: 5vw;
    font-weight: 700;
    padding: 0 3vw;
    vertical-align: middle;
    display: table-cell;
    width: 65%; }
  #fs_ProductCategory .products_list_title .categoryname.type02 {
    width: 100%;
    height: 25vw;
    background-size: 100%; }
  #fs_ProductCategory .products_list_title .categoryname.type02 p {
    display: none; }
  #fs_ProductCategory .products_list_title .categoryname.type02 h2 {
    font-size: 5vw;
    font-weight: 700;
    padding: 7vw 3vw 0;
    width: 100%;
    display: block; }
  #fs_ProductCategory .products_list_title .categoryname.type02.bg903096 h2, #fs_ProductCategory .products_list_title .categoryname.type02.bg903097 h2 {
    text-align: left; }
  #fs_ProductCategory .fs-c-productList__list__item, #fs_ProductSearch .fs-c-productList__list__item {
    border: none; }
  #fs_ProductCategory .fs-c-productListItem__viewMoreImageButton.fs-c-buttonContainer, #fs_ProductSearch .fs-c-productListItem__viewMoreImageButton.fs-c-buttonContainer {
    display: none; }
  #fs_ProductCategory button.fs-c-button--addToCart--list.fs-c-button--plain, #fs_ProductSearch button.fs-c-button--addToCart--list.fs-c-button--plain {
    font-size: 10px;
    display: none; }
  #fs_ProductCategory .fs-c-productListItem__productName, #fs_ProductSearch .fs-c-productListItem__productName {
    font-size: 4vw; }
  #fs_ProductCategory .fs-c-productListItem__prices.fs-c-productPrices, #fs_ProductSearch .fs-c-productListItem__prices.fs-c-productPrices {
    display: table-cell;
    vertical-align: middle;
    width: 100%; }
  #fs_ProductCategory .fs-c-productListItem__control.fs-c-buttonContainer, #fs_ProductSearch .fs-c-productListItem__control.fs-c-buttonContainer {
    display: table-cell;
    vertical-align: middle;
    width: 25%;
    text-align: right; }
  #fs_ProductCategory .fs-c-productPrice__main__label, #fs_ProductSearch .fs-c-productPrice__main__label {
    display: none; }
  #fs_ProductCategory .fs-c-productPrice__main__price, #fs_ProductCategory span.fs-c-productPrice__addon, #fs_ProductSearch .fs-c-productPrice__main__price, #fs_ProductSearch span.fs-c-productPrice__addon {
    color: #991f1f; }
  #fs_ProductCategory span.fs-c-productPrice__addon, #fs_ProductSearch span.fs-c-productPrice__addon {
    font-size: 3vw; }
  #fs_ProductCategory .fs-c-salesPeriod__date, #fs_ProductSearch .fs-c-salesPeriod__date {
    font-size: 2.8vw; }
  #fs_ProductCategory .fs-c-productListItem__salesPeriodNotice.fs-c-productListItem__notice, #fs_ProductSearch .fs-c-productListItem__salesPeriodNotice.fs-c-productListItem__notice {
    font-size: 2.8vw; }
  #fs_ProductCategory .fs-c-button--particular.fs-c-button--addToWishList--icon::before, #fs_ProductDetails .fs-c-button--particular.fs-c-button--addToWishList--icon::before, #fs_ProductSearch .fs-c-button--particular.fs-c-button--addToWishList--icon::before {
    font-size: 5vw; }
  #fs_MyPageTop .fs-c-button--particular.fs-c-button--removeFromWishList--icon::before, #fs_MyWishList .fs-c-button--particular.fs-c-button--removeFromWishList--icon::before, #fs_ProductCategory .fs-c-button--particular.fs-c-button--removeFromWishList--icon::before, #fs_ProductDetails .fs-c-button--particular.fs-c-button--removeFromWishList--icon::before, #fs_ProductSearch .fs-c-button--particular.fs-c-button--removeFromWishList--icon::before, #fs_ShoppingCart .fs-c-button--particular.fs-c-button--removeFromWishList--icon::before {
    font-size: 5vw; }
  body#fs_ProductDetails {
    background: #fff; }
  #fs_ProductDetails .fs-l-pageMain {
    padding: 0 !important; }
  #fs_ProductDetails .fs-c-productImageModal {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center; }
  #fs_ProductDetails .fs-l-productLayout__item--2 {
    margin: 0 5.4vw 13vw; }
  #fs_ProductDetails .fs-c-productMainImage__expandButton.fs-c-buttonContainer {
    display: none; }
  #fs_ProductDetails .fs-c-productThumbnail {
    margin: 5vw 5.4vw 0; }
  #fs_ProductDetails .fs-c-productThumbnail__image {
    margin: 0 2.8% 2% 0;
    flex-basis: 17.7%;
    min-width: 17.7%; }
  #fs_ProductDetails .fs-c-productThumbnail__image:nth-child(5n) {
    margin: 0 0 2%; }
  #fs_ProductDetails h1.fs-c-productNameHeading.fs-c-heading {
    font-size: 5vw;
    line-height: 1.4;
    border-bottom: 2px solid #ccc;
    padding: 0 0 5vw;
    margin: 0 0 6vw; }
  #fs_ProductDetails .fs-c-productNumber {
    font-size: 3.7vw;
    color: #666;
    border: 2px solid #ccc;
    margin: 0 0 6vw; }
  #fs_ProductDetails .fs-c-productNumber__number {
    font-weight: 400; }
  #fs_ProductDetails .fs-c-productPrice--listed .fs-c-productPrice__addon {
    font-size: 4.5vw; }
  #fs_ProductDetails .fs-c-productPrice--selling span.fs-c-productPrice__main__label {
    background: #73890d;
    color: #fff;
    padding: 1vw 4vw;
    margin: 0 2vw 0 0; }
  #fs_ProductDetails .fs-c-productPrice--selling span.fs-c-productPrice__addon {
    color: #333;
    font-size: 3.2vw; }
  #fs_ProductDetails .fs-c-productPrice__main__price.fs-c-price {
    padding: 0 1vw 0 0; }
  #fs_ProductDetails .fs-c-productPrice__main__price .fs-c-price__currencyMark {
    color: #991f1f;
    font-size: 5.3vw; }
  #fs_ProductDetails .fs-c-productPrice__main__price .fs-c-price__value {
    color: #991f1f;
    font-size: 5.3vw; }
  #fs_ProductDetails .fs-c-productPrice__addon__price .fs-c-price__currencyMark {
    color: #333;
    font-size: 4vw;
    font-weight: 400; }
  #fs_ProductDetails .fs-c-productPrice__addon__price .fs-c-price__value {
    color: #333;
    font-size: 4vw;
    font-weight: 400; }
  #fs_ProductDetails .fs-c-productQuantityAndWishlist {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0 !important; }
  #fs_ProductDetails span.fs-c-productQuantityAndWishlist__quantity.fs-c-quantity.fs-system-assistTarget {
    -webkit-box-ordinal-group: 1;
    order: 1;
    display: block;
    width: 100%;
    position: relative;
    left: 10vw;
    font-size: 3.5vw; }
  #fs_ProductDetails span.fs-c-productQuantityAndWishlist__quantity.fs-c-quantity.fs-system-assistTarget:before {
    content: "個数";
    font-size: 4vw;
    position: absolute;
    top: 0;
    left: -10vw; }
  #fs_ProductDetails span.fs-c-productQuantityAndWishlist__quantity.fs-c-quantity.fs-system-assistTarget select {
    background: #fff; }
  #fs_ProductDetails .fs-c-productQuantityAndWishlist__wishlist {
    -webkit-box-ordinal-group: 2;
    order: 2;
    width: 100%;
    display: block;
    margin: 7vw 0 0;
    padding: 0; }
  #fs_ProductDetails .fs-c-productQuantityAndWishlist__wishlist button.fs-c-button--addToWishList--detail.fs-c-button--particular {
    box-shadow: none;
    width: 100%;
    height: 10vw;
    padding: 0;
    position: relative;
    border-radius: 5px;
    margin: 0 auto; }
  #fs_ProductDetails .fs-c-productQuantityAndWishlist__wishlist button.fs-c-button--removeFromWishList--detail {
    box-shadow: none;
    width: 100%;
    height: 10vw;
    padding: 0;
    position: relative; }
  #fs_ProductDetails .fs-c-productQuantityAndWishlist__wishlist button.fs-c-button--removeFromWishList--detail .fs-c-button__label {
    font-size: 4.5vw;
    display: block;
    padding: 0 0 0 27vw;
    color: #333; }
  #fs_ProductDetails .fs-c-productQuantityAndWishlist__wishlist button.fs-c-button--addToCart--detail.fs-c-button--primary {
    background: #991f1f;
    border: 0;
    box-shadow: none;
    border-radius: 5px;
    width: 100%;
    height: 18.7vw; }
  #fs_ProductDetails .fs-c-productQuantityAndWishlist__wishlist .fs-c-button__label {
    font-size: 4.5vw;
    display: block;
    padding: 0 0 0 31vw;
    color: #333; }
  #fs_ProductDetails .fs-c-productQuantityAndWishlist__wishlist .fs-c-button--particular.fs-c-button--addToWishList--detail::after {
    position: absolute;
    left: 20vw;
    top: 1.8vw;
    color: #bbb;
    font-size: 6.5vw; }
  #fs_ProductDetails .fs-c-productQuantityAndWishlist__wishlist .fs-c-button--particular.fs-c-button--removeFromWishList--detail::after {
    position: absolute;
    left: 17vw;
    top: 1.8vw;
    font-size: 6.5vw; }
  #fs_ProductDetails .fs-c-productActionButton.fs-c-buttonContainer {
    padding: 0;
    margin: 8vw 0 7vw; }
  #fs_ProductDetails .fs-p-snsArea {
    -webkit-box-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center; }
  #fs_ProductDetails .fs-c-inquiryAboutProduct {
    margin: 0;
    padding: 2vw 0 0;
    width: 63%;
    float: left; }
  #fs_ProductDetails .fs-c-inquiryAboutProduct .fs-c-button--plain {
    color: #333; }
  #fs_ProductDetails .fs-c-inquiryAboutProduct .fs-c-button__label {
    font-size: 3.7vw;
    text-decoration: underline; }
  #fs_ProductDetails .fs-c-returnedSpecialContract a {
    font-size: 3.7vw;
    text-decoration: underline;
    float: left; }
  #fs_ProductDetails .fs-c-productReview-outer {
    margin: 0 5.4vw 12vw; }
  #fs_ProductDetails .fs-c-productReview-outer .review_title {
    font-size: 5vw;
    font-weight: 700;
    color: #333;
    border-bottom: 2px solid #4c4c4c;
    padding: 0 0 2vw;
    margin: 0 0 5vw; }
  #fs_ProductDetails .fs-c-productReview-outer .review_txt-main {
    font-size: 4vw;
    padding: 0 0 2vw;
    line-height: 1.57; }
  #fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview .fs-c-reviewer__name {
    font-size: 1.5em; }
  #fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview .fs-c-reviewer__profile {
    margin-left: 1em;
    font-size: 1em; }
  #fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview .fs-c-reviewInfo__date {
    font-size: 1em; }
  #fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview .fs-c-aggregateRating__rating::before {
    font-size: 4.2vw;
    font-weight: 700; }
  #fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview .fs-c-aggregateRating__count {
    display: none; }
  #fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview li.fs-c-reviewList__item {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 2.5vw 3vw; }
  #fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview li.fs-c-reviewList__item:first-child {
    border-top: 1px solid #eee; }
  #fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview li.fs-c-reviewList__item .fs-c-reviewList__item__info {
    padding: 0;
    font-size: 3.2vw; }
  #fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview li.fs-c-reviewList__item .fs-c-reviewList__item__info .fs-c-reviewInfo__reviewer {
    font-size: 3.2vw;
    color: #666; }
  #fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview li.fs-c-reviewList__item .fs-c-reviewList__item__info .fs-c-reviewer__name a {
    font-size: 3.2vw;
    color: #666; }
  #fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview li.fs-c-reviewList__item .fs-c-reviewList__item__info .fs-c-reviewInfo__date {
    font-size: 3.2vw;
    color: #666; }
  #fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview li.fs-c-reviewList__item span.fs-c-reviewer__name__nickname {
    font-size: 3.2vw;
    color: #666; }
  #fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview li.fs-c-reviewList__item .fs-c-reviewList__item__body {
    font-size: 4vw;
    line-height: 1.57;
    border: none;
    padding: 0; }
  #fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview a.fs-c-button--viewAllReviews.fs-c-button--plain {
    text-align: right;
    width: 100%;
    text-decoration: underline; }
  #fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview a.fs-c-button--viewAllReviews.fs-c-button--plain:before {
    content: none; }
  #fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview a.fs-c-button--viewAllReviews.fs-c-button--plain:after {
    content: "\03e \03e";
    font-size: 4vw; }
  #fs_ProductDetails .fs-c-productReview-outer .fs-c-productReview a.fs-c-button--addReview--detail.fs-c-button--plain::before {
    content: "この商品について、お客さまのご意見・ご感想をお聞かせください。";
    font-size: 4vw; }
  #fs_ProductDetails .fs-c-productReview-outer .fs-c-buttonContainer--addReview--detail .fs-c-button__label {
    float: right;
    font-size: 4vw;
    text-decoration: underline; }
  #fs_ProductDetails .fs-c-productReview-outer .fs-c-buttonContainer--addReview--detail .fs-c-button__label:before {
    content: url(https://kazurasei.itembox.design/item/images/common/icon-review.png); }
  #fs_ProductDetails .fs-c-productReview__aggregateRating .fs-c-aggregateRating {
    padding: 0 0 4.5vw; }
  #fs_ProductDetails .fs-c-productReview__aggregateRating .fs-c-rating {
    font-size: 1.5em;
    line-height: 200%; }
  #fs_ProductDetails .fs-c-rating__stars.fs-c-reviewStars::before {
    font-size: 4vw; }
  #fs_ProductDetails .fs-c-rating__value {
    font-size: 4vw; }
  #fs_ProductDetails #original_comment4 {
    margin: 0 5.4vw 12vw;
    font-size: 4vw;
    padding: 0; }
  #fs_ProductDetails #original_comment6 {
    margin: 0 5.4vw 12vw;
    font-size: 4vw;
    padding: 0; }
  #fs_ProductDetails #original_comment6 .original_comment6_title {
    font-size: 5vw;
    font-weight: 700;
    color: #333;
    border-bottom: 2px solid #4c4c4c;
    padding: 0 0 2vw;
    margin: 0 0 5vw; }
  #fs_ProductDetails .fs-c-featuredProduct {
    margin: 0 5.4vw 12vw;
    font-size: 4vw;
    padding: 0; }
  #fs_ProductDetails .fs-c-featuredProduct .fs-c-featuredProduct__title {
    font-size: 5vw;
    font-weight: 700;
    color: #333;
    border-bottom: 2px solid #4c4c4c;
    padding: 0 0 2vw;
    margin: 0 0 5vw; }
  #fs_ProductDetails .fs-c-featuredProduct .fs-c-productListCarousel__list {
    width: 100%; }
  #fs_ProductDetails .fs-c-featuredProduct .fs-c-productListCarousel__list .slick-slide {
    width: 37vw; }
  #fs_ProductDetails .fs-c-featuredProduct .fs-c-productListCarousel__list__item {
    flex-basis: 37vw;
    max-width: 37vw;
    min-width: 37vw;
    margin: 0;
    padding: 0 1vw; }
  #fs_ProductDetails .fs-c-featuredProduct .fs-c-productListItem__image__image {
    border: 1px solid #eee; }
  #fs_ProductDetails .fs-c-featuredProduct .fs-c-productPrice__main__label {
    display: none; }
  #fs_ProductDetails .fs-c-featuredProduct .fs-c-productListItem__control.fs-c-buttonContainer {
    display: none; }
  #fs_ProductDetails .fs-c-featuredProduct .fs-c-button--carousel--prev::before {
    font-size: 12vw;
    color: #a5a5a5 !important; }
  #fs_ProductDetails .fs-c-featuredProduct .fs-c-button--carousel--next::before {
    font-size: 12vw;
    color: #a5a5a5 !important; }
  #fs_ProductDetails .fs-c-featuredProduct .slick-disabled .fs-c-button--carousel--prev::before {
    font-size: 12vw;
    color: #a5a5a5 !important; }
  #fs_ProductDetails .fs-c-featuredProduct .slick-disabled .fs-c-button--carousel--next::before {
    font-size: 12vw;
    color: #a5a5a5 !important; }
  #fs_ProductDetails .fs-c-featuredProduct .fs-c-productListItem__productName {
    font-size: 3.5vw; }
  #fs_ProductDetails .fs-c-featuredProduct .fs-c-productPrice__main__price .fs-c-price__currencyMark {
    color: #991f1f;
    font-size: 3.5vw; }
  #fs_ProductDetails .fs-c-featuredProduct .fs-c-productPrice__main__price .fs-c-price__value {
    color: #991f1f;
    font-size: 3.5vw; }
  #fs_ProductDetails .fs-c-featuredProduct .fs-c-productPrice--selling .fs-c-productPrice__addon {
    color: #991f1f;
    font-size: 3.5vw; }
  .fs-c-productReview .fs-c-aggregateRating__count {
    font-size: 1.5em;
    line-height: 200%; }
  #fs_ProductSearch .fs-c-productList__controller {
    width: 100%; }
  #fs_ProductSearch .fs-c-sortItems {
    margin: 0 auto; }
  #fs_ProductSearch span.fs-c-sortItems__label {
    font-size: 4vw; }
  #fs_ProductSearch ul.fs-c-sortItems__list {
    font-size: 4vw; }
  #fs_ProductSearch .fs-c-productListItem__productName {
    font-size: 4vw; }
  #fs_ProductSearch .fs-c-productPrice__main__price {
    color: #333; }
  #fs_ProductSearch span.fs-c-productPrice__addon {
    font-size: 3vw;
    color: #a1a1a1; }
  #fs_ProductSearch .fs-c-salesPeriod__date {
    font-size: 2.8vw; }
  #fs_ProductSearch .fs-c-productListItem__salesPeriodNotice.fs-c-productListItem__notice {
    font-size: 2.8vw; }
  #fs_Login a.fs-c-button--memberRegister.fs-c-button--primary {
    color: #fff; }
  .fs-c-subSection__title {
    font-size: 1.4rem; }
  .fs-p-announcement__title {
    font-size: 1.4rem;
    margin-bottom: 5%; }
  .fs-p-footerCopyright__text {
    font-size: .8rem; }
  #fs_MyAddressBook a.fs-c-button--change, #fs_MyAddressBook a.fs-c-button--secondary, #fs_ReviewLogin .fs-c-button--primary, #fs_ReviewLogin .fs-c-button--secondary, #fs_ShoppingCart a.fs-c-button--primary, #fs_WishListLogin .fs-c-button--primary {
    color: #fff;
    background: #444;
    border: 1px solid #444; }
  #fs_MyPageTop .fs-c-productName__name, #fs_MyWishList .fs-c-productName__name, #fs_ProductDetails .fs-c-productName__name, #fs_ShoppingCart .fs-c-productName__name {
    font-size: 15px; }
  #fs_Checkout .fs-c-productPrice__main__price, #fs_MyPageTop .fs-c-productPrice__main__price, #fs_MyWishList .fs-c-productPrice__main__price, #fs_ProductDetails .fs-c-productPrice__main__price, #fs_ShoppingCart .fs-c-productPrice__main__price {
    font-size: 15px;
    color: #000; }
  #fs_Checkout .fs-c-productPrice__addon, #fs_MyPageTop .fs-c-productPrice__addon, #fs_MyWishList .fs-c-productPrice__addon, #fs_ProductDetails .fs-c-productPrice__addon, #fs_ShoppingCart .fs-c-productPrice__addon {
    font-size: 11px;
    color: #999; }
  #fs_MyPageTop .fs-c-accountService {
    justify-content: space-around; }
  #fs_MyPageTop .fs-c-accountService__page {
    flex-basis: 45%; }
  #fs_MyPageTop .fs-c-accountService__logout {
    font-size: 1.2rem;
    box-shadow: 0 0 2px #b2b2b2;
    background: #f7f7f7;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    color: #3c3c3c;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    width: 60%;
    margin: -20vw auto 20vw;
    padding: 2vw 0; }
  #fs_MyPageTop .fs-c-wishlistProduct__title, #fs_ShoppingCart .fs-c-wishlistProduct__title {
    font-size: 110%;
    font-weight: 700; }
  .fs-c-featuredProduct__title {
    font-size: 110%;
    font-weight: 700; }
  #fs_MyPageTop .fs-c-productListCarousel__list__item, #fs_ProductDetails .fs-c-productListCarousel__list__item, #fs_ShoppingCart .fs-c-productListCarousel__list__item {
    flex-basis: 200px;
    max-width: 200px;
    min-width: 200px; }
  #fs_MyWishList .fs-c-rating {
    text-align: center; }
  #fs_MyWishList .fs-c-aggregateRating__rating::before, #fs_MyWishList .fs-c-rating__value, #fs_MyWishList .fs-c-reviewStars {
    font-size: 16px; }
  #fs_MyAccountSettings .fs-c-button--change {
    color: #fff; }
  #fs_MyPageTop .fs-c-wishlistProduct__list, #fs_ProductDetails .fs-c-featuredProduct__list, #fs_ShoppingCart .fs-c-wishlistProduct, #fs_ShoppingCart .fs-c-wishlistProduct__list {
    margin: 5vh auto; }
  .fs-c-productPrice__addon:not(.fs-c-productPrice__addon--listed) {
    font-size: 1em; }
  .fs-c-productNotice--outOfStock, .fs-c-productStock {
    padding: .5em;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background-color: #b2b2b2;
    border: none;
    border-radius: 5px; }
  .fs-c-button--viewProductDetail {
    display: none; }
  .fs-c-productNotice--outOfStock {
    padding: 1em;
    font-size: 14px; } }
