#reviews_no1 {
    padding: 20px 0 20px 0;
    float: left;
    width: 700px;
}

#reviews_img {
    float: left;
    border: 1px solid #CCC;
    margin-right: 30px;
    display: block;
    width: 142px;
    height: 142px;
}

#reviews_text1 {
    display: block;
    float: left;
    padding: 10px 0 10px 0;
    width: 520px;
}
