.content_box1 {
    margin: 0 10px 0 15px;
    *margin: 0 10px 0 10px;
}

.contents_list_box #guid_th td {
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
    background-color: #AC1700;
    color: #fff;
    font-size: 11px;
    *font-size: 10px
}

.contents_list_box #guid_tdname td {
    text-align: center;
    vertical-align: top;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 11px;
    *font-size: 10px;
    background-color: #CD7466;
    color: #fff;
}

.contents_list_box .guid_tdmoney td {
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
    color: #666;
    font-size: 11px;
    *font-size: 10px;
    background-color: #E5E3E5;
}

#conteng_guid ul {
    display: block;
    float: left;
    width: 700px;
}

#conteng_guid li {
    display: block;
    float: left;
    padding-bottom: 10px;
    width: 680px;
    list-style-type: none;
    background-image: url("images/common/icon_disc.jpg");
    padding-left: 15px;
    background-repeat: no-repeat;
    background-position: 6px 8px;
    *background-position: 6px 5px;
}

#content_box3 {
    float: left;
    width: 638px;
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-left: 15px;
    *margin-left: 8px;
    background-color: #F7F7F7;
    border: 1px solid #D3D4CE;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

#content_box3_img {
    float: left;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
}

#conteng_guid.contents_list_box--fax ul,
#conteng_guid.contents_list_box--fax li {
    float: none;
}

.content_box4 {
    background-color: #F7F7F7;
    border: 1px solid #D3D3CE;
    padding: 15px 20px;
    margin-bottom: 10px;
}

.content_box4_ttl {
    padding-left: 2em;
    background: url(images/common/guid_pdf_logo.png) no-repeat;
    background-size: 20px;
}

.content_box4_txt {
    line-height: 1.5;
}

.content_box4_txt span {
    font-size: 13px;
}

.guid_btline {
    float: left;
    width: 700px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #CCC;
}

.guid_box h4 {
    padding-left: 25px;
    background-image: url("images/common/icon_line.jpg");
    background-repeat: no-repeat;
    background-position: 2px center;
}

#guid_top {
    float: left;
    height: 17px;
    width: 699px;
    color: #FFF;
    background-color: #AC1700;
    text-align: center;
    border-bottom: 1px solid #FFF;
    padding: 3px 0 0 0;
}
