#rule_box ul li {
    padding-bottom: 25px;
}

#rule_box ul li p {
    padding-left: 20px;
}



#guid_top {
    float: left;
    height: 17px;
    width: 699px;
    color: #FFF;
    background-color: #AC1700;
    text-align: center;
    border-bottom: 1px solid #FFF;
    padding: 3px 0 0 0;
}
