/* WP SP 記事用スタイル */
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
}


#leftNews {
    dl {
        dt {
            width: auto;

            .newsDate {
                width: 70px;
                font-size: .7rem;
            }
        }

        dd {
            padding: 0 0 10px;
            font-size: 1.125rem;

        }
    }
}
