#footer {
    height: 95px;
    width: 940px;

    p {
        float: right;
        text-align: right;
        padding: 15px 20px 0 0;
        line-height: 25px;
    }

    img {
        float: right;
        padding-top: 0px;
    }
}
