#btn_fix,
#btn_send,
#btn_check,
#btn_reg,
#btn_out,
#btn_outno,
#btn_close {
    width: 120px;
    height: 30px;
    float: left;
    text-indent: -9999px;

    a {
        display: block;
        width: 120px;
        height: 30px;
    }
}

#btn_post {
    width: 120px;
    height: 28px;
    float: left;
    text-indent: -9999px;

    a {
        display: block;
        width: 120px;
        height: 28px;
    }
}

@mixin btn_a($id) {
    a {

        &:link,
        &:visited {
            background: url("../images/common/#{$id}.jpg") no-repeat left top;
        }

        &:hover {
            background: url("../images/common/#{$id}.jpg") no-repeat left bottom;
            display: block;
        }
    }
}

#btn_fix {
    @include btn_a(btn_fix);
}

#btn_send {
    @include btn_a(btn_send);
}

#btn_check {
    @include btn_a(btn_check);
}

#btn_post {
    @include btn_a(btn_post);
}

#btn_reg {
    @include btn_a(btn_reg);
}

#btn_out {
    @include btn_a(btn_out);
}

#btn_out {
    @include btn_a(btn_out);
}

#btn_out {
    padding: 0 0 0 10px;
}

#btn_outno {
    @include btn_a(btn_outno);
}

#btn_outno {
    padding: 0 0 0 220px;
}

#btn_close {
    @include btn_a(btn_close);
}

#btn_close {
    padding: 0 0 0 280px;
}

#btn_login,
#btn_user,
#btn_guest,
#btn_buyback,
#btn_new,
#btn_buy,
#btn_checkout,
#btn_buyback,
#btn_back,
#btn_next,
#btn_logout_com {
    width: 160px;
    height: 30px;
    float: left;
    text-indent: -9999px;

    a {
        display: block;
        width: 160px;
        height: 30px;
    }
}

.btn_order {
    width: 160px;
    height: 30px;
    float: left;
    text-indent: -9999px;
}

#btn_login {
    padding: 15px 70px 0 70px;
}

#btn_buyback {
    padding: 50px 260px 30px 270px;
}

#btn_buy,
#btn_back {
    padding: 0 110px 0 0;
}

.btn_order a {
    display: block;
    width: 160px;
    height: 30px;
}

#btn_login {
    @include btn_a(btn_login);
}

#btn_user {
    @include btn_a(btn_user);
}

#btn_guest {
    @include btn_a(btn_guest);
}

#btn_buyback {
    @include btn_a(btn_buyback);
}

#btn_new {
    @include btn_a(btn_new);
}

#btn_buy {
    @include btn_a(btn_buy);
}

#btn_checkout {
    @include btn_a(btn_checkout);
}

#btn_buyback {
    @include btn_a(btn_buyback);
}

#btn_back {
    @include btn_a(btn_back);
}

#btn_next {
    @include btn_a(btn_next);
}

#customers_logout {
    @include btn_a(customers_logout);
}

.btn_order {
    @include btn_a(btn_order);
}

#btn_logout_com {
    @include btn_a(btn_logout_com);
}

#btn_del {
    display: block;
    width: 60px;
    height: 20px;
    float: left;
    text-indent: -9999px;

    a {
        display: block;
        width: 60px;
        height: 20px;
    }

    @include btn_a(btn_next);
}

#btn_addto {
    width: 170px;
    height: 23px;
    float: right;
    margin-top: 2px;
    *margin-top: 5px;
    text-indent: -9999px;

    a {
        display: block;
        width: 170px;
        height: 20px;
    }
}

#btn_addto {
    @include btn_a(btn_addto);
}


.btn_home {
    display: block;
    width: 110px;
    height: 20px;
    text-indent: -9999px;

    a {
        display: block;
        width: 110px;
        height: 20px;
    }
}

.btn_home {
    @include btn_a(btn_home);
}

#btn_logout_com {
    @include btn_a(btn_logout_com);
}

#btn_item {
    display: block;
    float: right;
    width: 190px;
    height: 40px;
    padding: 8px 10px 0 0;
    text-indent: -9999px;

    a {
        display: block;
        width: 190px;
        height: 40px;

        &:link,
        &:visited {
            background-image: url("../images/common/item_btn01.jpg");
            background-repeat: no-repeat;
            background-position: left top;
        }

        &:hover {
            display: block;
            background-image: url("../images/common/item_btn01.jpg");
            background-repeat: no-repeat;
            background-position: left bottom;
        }
    }
}

#item_btn2 {
    display: block;
    width: 240px;
    height: 40px;
    text-indent: -9999px;

    a {
        display: block;
        width: 240px;
        height: 40px;

        &:link,
        &:visited {
            background-image: url("../images/common/item_btn02.jpg");
            background-repeat: no-repeat;
            background-position: left top;
        }

        &:hover {
            background: url("../images/common/item_btn02.jpg") no-repeat left bottom;
            display: block;
        }
    }
}
