#privacy_box {
    ol {
        list-style-type: decimal;
        padding-left: 25px;
    }

    li {
        list-style-type: decimal;
        padding-bottom: 15px;
    }

}

.privacy_litit {
    display: block;
    font-weight: bold;
    color: #333;
    padding-bottom: 10px;
}
